



.article_container { 
   margin-top: 20px;
   height: 80vh; 
   overflow-y: scroll;
   padding: 20px;
}

.article_description, .article_container {
    width: 100%;
    resize: none;
}

.article_description {
    height: 200px;
    margin-top: 20px;
}

.title_container {
    padding: 20px;
    width: 100%;
    height: 50px;
    font-size: 20px;
}