@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Tajawal:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f3f0f0;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
}

.bold {
    font-weight: 500;
}

.font-primary {
    font-family: 'Tajawal', sans-serif;
}

.font-secondary {
    font-family: 'Major Mono Display', monospace;
}

.a-line-highlight {
    line-height: 20px;
}

input:focus,
button:focus,
textarea:focus {
    outline: none;
}

.fixed-center {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.bg-white-transparent {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(15px);
}
