@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Tajawal:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F3F0F0;
}

* {
    padding: 0;
    margin: 0;
}

.bold {
    font-weight: 500;
}

.font-primary {
    font-family: 'Tajawal', sans-serif;
}

.font-secondary {
    font-family: 'Major Mono Display', monospace;
}

.a-line-highlight {
    line-height: 20px;
}


input:focus, button:focus {
    outline: none;
}
